.main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b5b6d2c7;
  }
  
  .nav {
    width: 20%;
    height: 100%;
    background-color: #1f2544;
    padding: 34px 0px;
  }
  
  .top {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 34px;
  }
  
  .logo {
    margin-right: 18px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }
  
  .name {
    font-size: 22px;
    font-weight: 500;
    color: #ffff;
  }
  
  .ul {
    margin: 38px 0px;
  }
  
  .li {
    width: 100%;
    height: 45px;
    padding-left: 38px;
    color: #ffffffac;
    font-size: 20px;
    font-weight: 300;
    margin: 28px 0px;
    display: flex;
    align-items: center;
  }
  
  .mark {
    font-weight: 400;
    font-size: 22px;
    color: #ffffffec;
  }
  
  .highlight {
    background-color: #ffffff14;
  }
  
  .right {
    position:relative;
    width:80%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
  }
  
  .div {
    width:95%;
    display:flex;
    justify-content:flex-end;
    /* margin-bottom:34px; */
  }
  
  .search {
    width:400px;
    height:50px;
    background-color:#ffff;
    border-radius:24px;
    padding-left:16px;
    font-size:16px;
    font-weight:300;
  }
  
  .search_btn {
    width:50px;
    height:50px;
    border-radius:50%;
    background-color:#1f2544;
    display:grid;
    place-items:center;
    margin-left:16px;
  }
  
  .header {
    font-size:28px;
    font-weight:600;
    color:#303b6e;
    margin:38px 0px;
  }
  
  .menu {
    display: none;
  }
  
  .container {
    width:95%;
    height:475px;
    overflow:scroll;
  }
  
  .container::-webkit-scrollbar {
    display:none;
  }
  
  .table {
    width:100%;
    border-collapse:collapse;
  }
  
  .headerRow {
    background-color:#1f2544;
    color:#ffffff;
  }
  
  .th {
    font-size:18px;
    font-weight:400;
  }
  
  .th, .td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align:center;
  }
  
  .update {
    width:120px;
    height:30px;
    border-radius:4px;
    background-color:#01aa20;
    color:#ffff;
    margin-bottom:4px;
  }
  
  .delete {
    width:100%;
    height:30px;
    border-radius:4px;
    background-color:#fb5b34;
    color:#ffff;
    margin-top:4px;
  }
  
  .dropdown {
    width: 100%;
    height: 100%;
    background-color: #1f2544;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
  }
  
  .cross {
    position: absolute;
    top: 24px;
    right: 24px;
  }
  
  .popup {
    position:absolute;
    width:350px;
    height:auto;
    border-radius:14px;
    background-color:#ffff;
    box-shadow:0px 6px 32px rgba(0,0,0,0.1);
    top:50%;
    left:50%;
    transform:translate(calc(-50% + 90px),-50%);
    z-index:1000;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:14px;
  }

  .label {
    display:block;
    width:100%;
    font-size:18px;
    font-weight:500;
    color:#1F2544;
    margin:12px 0px;
}

.input {
    width:100%;
    height:36px;
    border:0.67px solid #aed6ffb0;
    padding-left:12px;
    font-size:16px;
    font-weight:300;
    color:#1F2544;
    background-color:#aed6ff26;
    border-radius:4px;
    margin:6px 0px;
}

.textarea {
  width:100%;
  height:70px;
  outline:none;
  border:none;
  background-color:#aed6ff26;
  border-radius:4px;
  border:0.67px solid #aed6ffb0;
  margin:8px 0px;
  padding:12px;
}

.submitButton {
  width:120px;
  height:38px;
  background-color:#fa9c19;
  border-radius:4px;
  color:#ffff;
  font-size:16px;
  float:right;
}

.back {
  font-size:18px;
  font-weight:400;
  color:#303b6e;
  position:absolute;
  top:0px;
  left:38px;
}

.back:hover {
  text-decoration:underline;
}

.success {
  width:100%;
  height:36px;
  background-color:rgba(161, 246, 161, 0.36);
  color:rgba(0, 130, 0, 0.781);
  border:0.56px solid rgba(1, 158, 1, 0.36);
  border-radius:4px;
  margin-top:34px;
  display:flex;
  justify-content:center;
  align-items:center;
}

.select {
    width:220px;
    font-size:16px;
    background:transparent;
    text-align:center;
}

.tabs {
    width:95%;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    margin-bottom:24px;
}

.tab {
    font-size:16px;
    width:130px;
    height:36px;
    border-radius:24px;
    display:grid;
    place-items:center;
    background-color:#49589e;
    color:#ffff;
    margin-right:16px;
    cursor:pointer;
}

.show {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-10%,-50%);
  width:325px;
  height:320px;
  background-color:#ffff;
  z-index:2000;
  border-radius:6px;
  box-shadow:4px 4px 32px rgba(0,0,0,0.15);
  display:flex;
  justify-content:center;
  align-items:center;
  padding:20px;
}

._div {
  width:100%;
  height:220px;
  background-color:aliceblue;
  margin-top:38px;
  overflow-y:scroll;
  border-radius:4px;
}

._div::-webkit-scrollbar {
  display:none;
}

.id {
  font-weight:600;
  font-size:16px;
  margin-right:4px;
}

.m_12 {
  margin:12px 0px;
  /* background-color:#fb5b34; */
  height:54px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  padding:0px 12px;
}

.view {
  width:84px;
  height:34px;
  background-color:rgb(1, 90, 168);
  border-radius:4px;
  color:#ffff;
}

.download {
  width:94px;
  height:28px;
  border-radius:4px;
  background-color:#01aa20;
  color:#ffff;
  margin-top:8px;
}
  
  @media only screen and (min-width: 601px) and (max-width: 900px) {

    .right {
      height:100%;
      padding-top:54px;
    }

    .top {
      padding-left: 22px;
    }
  
    .logo {
      margin-right: 10px;
    }
  
    .nav {
      width: 25%;
    }
  
    .li {
      padding-left: 22px;
      font-size: 18px;
      margin: 14px 0px;
    }
  
    .search {
      height:45px;
    }
  
    .search_btn {
      width:45px;
      height:45px;
    }

    .popup {
      transform:translate(calc(-50% + 74px),-50%);
    }

    .div {
      transform:translateY(0px);
    }

    .back {
      top:28px;
    }

    .show {
      transform:translate(-25%,-50%);
    }
    
  }
  
  @media only screen and (max-width: 600px) {

    .nav {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999;
      width: 100%;
      height: 64px;
      padding: 0px 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    .ul {
      display: none;
    }
  
    .top {
      width: auto;
      padding-left: 0px;
    }
  
    .menu {
      display: block;
    }
  
    .right {
      padding-top:54px;
      width:100%;
    }
  
    .search {
      width:300px;
      height:42px;
    }
  
    .search_btn {
      width:42px;
      height:42px;
    }
  
    .search_icon {
      width:20px;
      height:20px;
    }

    .popup{
        transform:translate(-50%,-50%);
    }

    .show {
      transform:translate(-50%,-50%);
    }

    .div {
      margin-top:24px;
    }
  
  }
  