.main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b5b6d2c7;
}

.nav {
  width: 20%;
  height: 100%;
  background-color: #1f2544;
  padding: 34px 0px;
}

.top {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 34px;
}

.logo {
  margin-right: 18px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.name {
  font-size: 22px;
  font-weight: 500;
  color: #ffff;
}

.ul {
  margin: 38px 0px;
}

.li {
  width: 100%;
  height: 45px;
  padding-left: 38px;
  color: #ffffffac;
  font-size: 20px;
  font-weight: 300;
  margin: 28px 0px;
  display: flex;
  align-items: center;
}

.mark {
  font-weight: 400;
  font-size: 22px;
  color: #ffffffec;
}

.highlight {
  background-color: #ffffff14;
}

.right {
  position:relative;
  width:80%;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}

.div {
  width:95%;
  display:flex;
  justify-content:flex-end;
}

.search {
  width:400px;
  height:50px;
  background-color:#ffff;
  border-radius:24px;
  padding-left:16px;
  font-size:16px;
  font-weight:300;
}

.search_btn {
  width:50px;
  height:50px;
  border-radius:50%;
  background-color:#1f2544;
  display:grid;
  place-items:center;
  margin-left:16px;
}

.header {
  font-size:28px;
  font-weight:600;
  color:#303b6e;
  margin:38px 0px;
}

.menu {
  display: none;
}

.container {
  width:95%;
  height:475px;
  overflow:scroll;
}

.container::-webkit-scrollbar {
  display:none;
}

.table {
  width:100%;
  border-collapse:collapse;
}

.headerRow {
  background-color:#1f2544;
  color:#ffffff;
}

.th {
  font-size:18px;
  font-weight:400;
}

.th, .td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align:center;
}

.update {
  width:100%;
  height:30px;
  border-radius:4px;
  background-color:#01aa20;
  color:#ffff;
  margin-bottom:4px;
}

.delete {
  width:100%;
  height:30px;
  border-radius:4px;
  background-color:#fb5b34;
  color:#ffff;
  margin-top:4px;
}

.dropdown {
  width: 100%;
  height: 100%;
  background-color: #1f2544;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}

.cross {
  position: absolute;
  top: 24px;
  right: 24px;
}

.popup {
  position:absolute;
  width:245px;
  height:230px;
  border-radius:14px;
  background-color:#ffff;
  box-shadow:0px 6px 32px rgba(0,0,0,0.1);
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  z-index:1000;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding:14px;
}

.customSelect {
  width:100%;
  height:36px;
  border:none;
  outline:none;
  border-radius:6px;
  font-size:16px;
  font-weight:400;
  text-align:center;
  margin:16px 0px;
}

.submitButton {
  width:160px;
  height:36px;
  background-color:#01aa20;
  color:#ffff;
  margin:8px 0px;
  border-radius:6px;
}

.header_top {
  width:95%;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.add {
  width:120px;
  height:40px;
  background-color:#303b6e;
  color:#ffff;
  font-size:16px;
  font-weight:500;
  border-radius:24px;
}

.popupDelete {
  width:300px;
  border-radius:6px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: none;
  flex-direction:column;
}

.confirmationText {
  margin-bottom: 20px;
}

.deleteButtons {
  text-align: center;
  display:flex;
  justify-content:space-around;
}

.cancelDelete {
  background-color:rgba(159, 249, 159, 0.6);
  border:0.9px solid rgb(127, 248, 127);
  color:rgb(1, 54, 1);
}

.confirmDelete {
  background-color:rgba(247, 136, 136, 0.584);
  border:0.9px solid rgba(247, 104, 104, 0.584);
  color:rgba(107, 8, 8, 0.584);
}

.cancelDelete, .confirmDelete {
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

.notify {
  width:260px;
  height:200px;
  transform:translate(0px, -64px);
}

.message {
  width:100%;
  height:36px;
  background-color:aliceblue;
  border:0.67px solid rgb(124, 193, 254);
  border-radius:4px;
  padding-left:16px;
  margin-top:34px;
  margin-bottom:16px;
}

.select {
  background:transparent;
}

.option {
  text-align:center;
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .top {
    padding-left: 22px;
  }

  .logo {
    margin-right: 10px;
  }

  .nav {
    width: 25%;
  }

  .li {
    padding-left: 22px;
    font-size: 18px;
    margin: 14px 0px;
  }

  .search {
    height:45px;
  }

  .search_btn {
    width:45px;
    height:45px;
  }

  .notify {
    transform:translate(-54px, -64px);
  }
}

@media only screen and (max-width: 600px) {
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 64px;
    padding: 0px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .ul {
    display: none;
  }

  .top {
    width: auto;
    padding-left: 0px;
  }

  .menu {
    display: block;
  }

  .right {
    padding-top:54px;
    width:100%;
  }

  .search {
    width:300px;
    height:42px;
  }

  .search_btn {
    width:42px;
    height:42px;
  }

  .search_icon {
    width:20px;
    height:20px;
  }

  .notify {
    transform:translate(-50%,-25%);
  }

}
