.main {
    width:100vw;
    height:100vh;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#b5b6d2c7;
  }
  
  .nav {
    width:20%;
    height:100%;
    background-color:#1F2544;
    padding:34px 0px;
  }
  
  .right {
    position:relative;
    width:80%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }
  
  .top {
    width:100%;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    padding-left:34px;
  }
  
  .logo {
    margin-right:18px;
    border-radius:50%;
    object-fit:cover;
    object-position:center;
  }
  
  .name {
    font-size:22px;
    font-weight:500;
    color:#ffff;
  }
  
  .ul {
    margin:38px 0px;
  }
  
  .li {
    width:100%;
    height:45px;
    padding-left:38px;
    color:#ffffffac;
    font-size:20px;
    font-weight:300;
    margin:28px 0px;
    display:flex;
    align-items:center;
  }
  
  .mark {
    font-weight:400;
    font-size:22px;
    color:#ffffffec;
  }
  
  .highlight {
    background-color:#ffffff14;
  }
  
  .menu {
    display:none;
  }
  
  .dropdown {
    width:100%;
    height:100%;
    background-color:#1F2544;
    position:fixed;
    top:0;
    left:0;
    z-index:1000;
    transition:all 0.3s ease-in-out;
  }
  
  .cross {
    position:absolute;
    top:24px;
    right:24px;
  }
  
  /* .bg_y {
    background-color:#f09f2e;
  }
  
  .bg_dark {
    background-color:#3a3788;
  } */

  .card {
    width:330px;
    height:440px;
    background-color:#ffff;
    border-radius:6px;
    overflow:hidden;
    overflow-x:hidden;
    overflow-y:scroll;
  }
  
  .card::-webkit-scrollbar {
    display:none;
  }
  
  .warnings::-webkit-scrollbar {
    display:none;
  }
  
  .back {
    width:100%;
    height:145px;
    background-color:#1F2544;
    border-radius:6px 6px 0px 0px;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  
  .pic {
    width:86px;
    height:86px;
    background-color:#f09f2e;
    display:grid;
    place-items:center;
    border-radius:50%;
  }
  
  .username {
    font-size:20px;
    font-weight:400;
    margin-left:16px;
    color:#ffff;
  }
  
  .email {
    font-size:14px;
    font-weight:300;
    margin-left:16px;
    color:#ffffff96;
  }
  
  .box_section {
    width:100%;
    height:175px;
    display:flex;
    flex-wrap:wrap;
  }
  
  .box {
    width:50%;
    height:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
  }
  
  .h {
    font-size:18px;
    font-weight:400;
    margin-bottom:7px;
  }
  
  .text {
    font-size:16px;
    font-weight:300;
    color:rgba(0,0,0,0.69);
  }
  
  .warnings {
    width:100%;
    height:200px;
    background-color:aliceblue;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    overflow-x:hidden;
    overflow-y:scroll;
  }
  
  .p {
    font-size:16px;
    color:#1F2544;
    font-weight:300;
    width:100%;
    padding:28px 0px 0px 12px;
  }
  
  .notify {
    width:90%;
    height:38px;
    background-color:rgba(176, 217, 254, 0.741);
    border:0.67px solid rgba(35, 152, 255, 0.741);
    border-radius:4px;
    margin:12px 0px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#1f2857;
    font-weight:400;
    cursor:pointer;
  }
  
  .logout {
    position:absolute;
    top:35px;
    right:35px;
    width:120px;
    height:38px;
    background-color:rgb(242, 70, 70);
    color:#ffff;
    font-size:18px;
    border-radius:6px;
  }
  
  .change_btn {
    width:180px;
    height:38px;
    border-radius:6px;
    background-color:#3c4c98;
    color:#ffff;
    font-size:16px;
    font-weight:300;
    margin:8px 0px;
    float:right;
    transition:all 0.3s ease-in-out;
    transform:translateX(20px);
  }
  
  .change_btn:hover {
    background-color:#4e61bd;
  }
  
  .popup {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-10px,-50%);
    z-index:999;
    width:300px;
    height:240px;
    border-radius:16px;
    background-color:#ffff;
    box-shadow:4px 4px 32px rgba(0,0,0,0.15);
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:20px;
  }
  
  .password {
    width:100%;
    height:38px;
    background-color:aliceblue;
    border-radius:6px;
    border:0.67px solid rgb(159, 210, 255);
    color:rgb(3, 137, 254);
    padding-left:12px;
    margin-top:24px;
  }
  
  .popup_btn {
    width:100px;
    height:36px;
    border-radius:4px;
    background-color:#fb623c;
    color:#ffff;
    margin-top:10px;
    font-size:16px;
  }
  
  @media only screen and (min-width: 601px) and (max-width: 900px) {
  
    .popup {
      transform:translate(-59px,-50%);
    }
  
    .top {
        padding-left:22px;
    }
  
    .logo {
        margin-right:10px;
    }
  
    .nav {
        width:25%;
    }
  
    .li {
        padding-left:22px;
        font-size:18px;
        margin:14px 0px;
    }
  
  }
  
  @media only screen and (max-width: 600px) {
  
    .popup {
      transform:translate(-50%,-50%);
    }
  
    .nav {
        position:fixed;
        top:0;
        left:0;
        z-index:999;
        width:100%;
        height:64px;
        padding:0px 16px;
        display:flex;
        align-items:center;
        justify-content:space-between;
    }
  
    .card {
      transform:translateY(38px);
    }
  
    .ul {
        display:none;
    }
  
    .right {
        width:100%;
        padding:0px;
    }
  
    .menu {
        display:block;
    }
  
    .logout {
      top:104px;
    }
  
    .top {
      padding-left:0px;
    }
  
  }